Uptrail Week 1 project

In [80]:
import pandas as pd
import numpy as np

In [81]:
df = pd.read_csv("C:/Users/HP/Desktop/Uptrail/Week1 Dataset/customer_signups.csv")
df.head(5)

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
0,CUST00000,Joshua Bryant,NaN,NaN,Instagram,NaN,basic,No,34,Female
1,CUST00001,Nicole Stewart,nicole1@example.com,02-01-2024,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,03-01-2024,Google,North,PREMIUM,Yes,34,Non-Binary
3,CUST00003,Zachary Sanchez,zachary3@mailhub.org,04-01-2024,YouTube,NaN,Pro,No,40,Male
4,CUST00004,NaN,matthew4@mailhub.org,05-01-2024,LinkedIn,West,Premium,No,25,Other

In [82]:
df.count()

customer_id         298
name                291
email               266
signup_date         298
source              291
region              270
plan_selected       292
marketing_opt_in    290
age                 288
gender              292
dtype: int64

In [83]:
df.dtypes

customer_id         object
name                object
email               object
signup_date         object
source              object
region              object
plan_selected       object
marketing_opt_in    object
age                 object
gender              object
dtype: object

In [84]:
# df['signup_date'] = pd.to_datetime(df['signup_date'])
# df['signup_date'] = pd.to_datetime(df['signup_date'], dayfirst=True, errors='coerce')
# df.dtypes

In [85]:
# bad_values = ['not a date', '', 'n/a']
# df['signup_date'] = df['signup_date'].replace(bad_values, np.nan)
# df['signup_date'] = pd.to_datetime(df['signup_date'], errors='coerce')
# # df['signup_date'].count()
# df['signup_date'] = pd.to_datetime(df['signup_date'])
df['signup_date'] = pd.to_datetime(df['signup_date'], dayfirst=True, errors='coerce')
# df['signup_date'] = df['signup_date'].replace('', pd.NA)
median_date = df['signup_date'].median()
df['signup_date'] = df['signup_date'].fillna(median_date)


# df['signup_date'].count()

# df['signup_date'] = pd.to_datetime(df['signup_date'], dayfirst=True, errors='coerce')
print("Valid dates:", df['signup_date'].notna().sum())
print("Invalid (NaT) dates:", df['signup_date'].isna().sum())

Valid dates: 300
Invalid (NaT) dates: 0

In [86]:
# Show rows that failed parsing
df['signup_date'].head(85)

0    2024-05-30
1    2024-01-02
2    2024-01-03
3    2024-01-04
4    2024-01-05
        ...
80   2024-05-30
81   2024-03-22
82   2024-03-23
83   2024-03-24
84   2024-03-25
Name: signup_date, Length: 85, dtype: datetime64[ns]

In [87]:
#converting marketing-opt_in column into boolean data type and handling missing values
#converting marketing-opt_in column into boolean data type and handling missing values
# df['marketing_opt_in'] = df['marketing_opt_in'].astype(str).str.lower().str.strip()
# df['marketing_opt_in'].head(5)
# df['marketing_opt_in'] = df['marketing_opt_in'].map({
#     'yes': True,
#     'no' : False
# })
# df.dtypes

In [88]:
# df['marketing_opt_in'].head(20)